.background{
    background-image: url(https://images.unsplash.com/photo-1592888039868-72821bb2db31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
}

.texto{
    margin-top: 5%;
    margin-bottom: 3%;
}

.informacion{
    width: 60%;
    margin-left: 20%;
    background-color: rgba(255, 247, 247, 0.315);
    border-radius: 5px;
    margin-bottom: 5%;
}

.informacion img{
    width: 30%;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.informacion h5{
    margin-left: 5%;
    width: 90%;
    color: rgb(223, 223, 84)
}

.informacion h5 input{
    width: 90%;
    margin-left: 5%;
}

.texto h1, hr, p{
    text-align: center;
    color: white;
}

.banner-secundario{
    background-color: black;
}

.redes-sociales{
    display: flex;
    margin-left: 3%;
    margin-bottom: 2%;
}

.redes-sociales .bx{
    margin-left: 2%;
}

.banner-secundario h3{
    color: #a9a9a9;
    text-transform: capitalize;
}

.banner-secundario p{
    width: 40%; 
    margin-left: 5%;
}

.pie-de-pagina{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.pie-de-pagina a{
    margin: auto;
}

@media screen and (max-width: 980px){

    .banner-secundario h3{
        margin-bottom: 7%;
    }

    .banner-secundario p{
        width: 80%;
        margin-left: 5%;
    }
}