<div class="primary-background">
    <br>
        <div class="container" style="margin-top:5%;">
            <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;" routerLink="/Usuarios" routerLinkActive="active">
                    <img src="https://media.istockphoto.com/vectors/set-of-nine-simple-avatar-of-male-and-female-characters-vector-id506883334" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Usuarios</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;" routerLink="/cargas" routerLinkActive="active">
                    <img src="https://www.plan-in.net/images/trabajas-solo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cargas Masivas</h5>
                      
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;" routerLink="/Libros" routerLinkActive="active">
                    <img src="https://d3j4pzt8k2yqfj.cloudfront.net/s3fs-public/imagen_recurso/libros-pta.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Libros</h5>
                    </div>
                  </div>
            </div>
            </div>
        </div>
    <br>
        <div class="container" style="margin-bottom: 4%; margin-top: 2%;">
            <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;" routerLink="/Revistas" routerLinkActive="active">
                    <img src="https://cdn.flipsnack.com/landing/files/create-stunning-magazine-covers-with-flipsnack" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Revistas</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;" routerLink="/Prestamos" routerLinkActive="active">
                    <img src="https://www.eleconomista.com.mx/__export/1611798595838/sites/eleconomista/img/2020/04/21/fp_princi_deudas_220420.png_1810791533.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Prestamos</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;" routerLink="/principal" routerLinkActive="active">
                    <img src="https://lh3.googleusercontent.com/proxy/RYk3GIVwNrdnXS7HPVHmuG_49KC27rGAUZTciGRi2UDxMeYpDAqy91r4kmnNmlpTVdLE1vvoUaHPW0lZ7hArPg6fETNMTfse9fECrwqqU0O4f98EyoAxdSwr_EM2rR-biCnaRThJZ6pRV_CU_uXIA6tflhBRcYnux7G3Ue38OPqgBy0B5LsLdy4EEXKI5qnfK6Xekp2mnsM6bX0fKzBU5jYu32XE7d02cqnK_g" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Principal</h5>
                    </div>
                  </div>
            </div>
            </div>
        </div>
    <br>
</div>
