<div class="primary-background">
    <app-menudenavegacion></app-menudenavegacion>
    <div class="contenedor-acciones">
        <br>
            <h5>
                Orden de la tabla:
                <select class="form-select">
                    <option>Todos</option>
                    <option>Prestados</option>
                    <option>Devueltos</option>
                </select>
            </h5>
        <br>
    </div>
    <br>
    
    <div class="contendor-de-datos">
        <h5>Biblioteca Digital // Listado De Prestamos</h5>

        <div class="overflow-auto">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Código de verificación</th>
                    <th scope="col">Código de usuarios</th>
                    <th scope="col">Código de libro</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha del prestación</th>
                    <th scope="col">Fecha del devolución</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-warning">Editar</button>
                            <button type="button" class="btn btn-success">Ver más</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    <br>
</div>